html, body, .navbar, .footer {
    background-color: hsl(0, 0%, 96%);
}

.banner {
    position: relative;
}

.banner span {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    font-size: 0.75rem;
    color: white;
}
