<div class="container">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/logo_sans_uni.svg">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="{{ .URL }}">{{.Name}}</a>
                        <div class="navbar-dropdown">
                            {{ range .Children }}
                            <a class="navbar-item" href="{{ .URL }}">{{.Name}}</a>
                            {{ end }}
                        </div>
                    </div>
                {{ else }}
                    <a class="navbar-item" href="{{ .URL }}">
                    {{ if (isset .Params "icon") }}
                        <span class="icon-text">
                            <span>{{.Name}}</span>
                            <span class="icon"><i class="{{.Params.icon}}" aria-hidden="true"></i></span>
                        </span>
                    {{ else }}
                        {{ .Name }}
                    {{ end }}
                    </a>
                {{ end}}
            {{ end }}
        </div>
    </nav>
</div>
