{{ define "main" }}
<section class="hero is-medium">
    <div class="hero-body has-text-centered">
        <p class="title"><img src="/img/logo_sans_darkred.svg"></p>
        <h3 class="subtitle">
            An open-source software for the simulation of seismic wave phenomena and earthquake dynamics
        </h3>
        <a href="https://seissol.readthedocs.io/">
            <button class="button is-link">Read the docs</button>
        </a>&nbsp;
        <a href="https://github.com/SeisSol/SeisSol">
            <button class="button is-link">Get the code</button>
        </a>
    </div>
</section>
<section class="hero is-dark">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column">
                <img src="/img/ridgecrest_SC23showcase.jpg">
                <p class="block">
                    Snapshot of a SeisSol simulation of the 2019 Ridgecrest Earthquake (extracted from <a href="https://www.youtube.com/watch?v=JvMuQN4FuvU" style="color: hsl(40, 85%, 85%);">https://www.youtube.com/watch?v=JvMuQN4FuvU</a>).
                </p>
            </div>
            <div class="column has-text-centered is-5">
                <h1 class="is-size-3">SC23: Conversing Faults: The 2019 Ridgecrest Earthquake</h1>
                <h3 class="subtitle">
                    Scientific Visualization & Data Analytics Showcase at SC23
                </h3>
		<!-- <img src="/img/SC22Logo.png"> -->
				<p>Led by the Texas Advanced Computing Center, results of the Ridgecrest simulations were presented as an SC23 Scientific Visualization & Data Analytics Showcase at SC23: The International Conference for High Performance Computing, Networking, Storage, and Analysis.</p>
				<p>&nbsp;</p>
				<p>More info in our <a href="post/ridgecrest-study/" style="color: hsl(40, 85%, 85%);">blog post</a>; see the full video on <a href="https://www.youtube.com/watch?v=JvMuQN4FuvU" style="color: hsl(40, 85%, 85%);">YouTube</a>.</p>
            </div>
        </div>
    </div>
</section>
<section class="hero is-medium is-warning">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column">
                <img src="/img/palu_rupture.jpg">
                <p class="block">
                    Dynamic rupture simulation of the 2018 Palu (Sulawesi) earthquake and tsunami (<a href="https://dl.acm.org/doi/10.1145/3458817.3476173" style="color: hsl(40, 85%, 85%);">Krenz et al., 2021</a>); 
					the respective SC21 paper also motivated the scenario for the <a href="/post/seissol-scc22/" style="color: hsl(40, 85%, 85%);">Mystery Application</a> for the SC22 <a href="https://www.studentclustercompetition.us/" style="color: hsl(40, 85%, 85%);">Student Cluster Competition</a>).
                </p>
            </div>
            <div class="column has-text-centered is-4">
                <h1 class="is-size-3">Earthquake simulation ...</h1>
                <h3 class="subtitle has-text-white">
                    SeisSol enables dynamic rupture modelling on realistic geometries
                </h3>
				<p>SeisSol is a high-performance computational seismology software to simulate complex earthquake scenarios. It supports various rheologies (isotropic elastic, anisotropic elastic, acoustic, viscoelastic, poroelastic), boundary conditions and dynamic rupture laws. SeisSol uses high-order discontinuous Galerkin discretisation with an Arbitrary DERivative (ADER) local time stepping scheme on unstructured adaptive tetrahedral meshes.</p>
            </div>
        </div>
    </div>
</section>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column has-text-centered is-4">
                <h1 class="is-size-3">... meets Supercomputing.</h1>
                <h3 class="subtitle">
                    Proven scalability and high-performance on many HPC systems
                </h3>
				<p>SeisSol follows an MPI+X parallelization model, using OpenMP threading or CUDA/HIP/SYCL, and exhibits excellent performance and scalability on a suitable range of supercomputing platforms. </p>
            </div>
            <div class="column">
                <img src="/img/strong_scaling_flops.png">
                <p class="block">
                    Per-node performance on SuperMUC (M), Shaheen II (S), and Cori (C).
                </p>
            </div>
            <div class="column">
                <img src="/img/strong_scaling_time.png">
                <p class="block">
                    High parallel efficiency and fast time-to solution using local time-stepping (LTS).
                </p>
            </div>
        </div>
    </div>
</section>
<section class="hero is-dark">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column">
                <img src="/img/cheesequake.jpg">
                <p class="block">
                    Meet the cheesequake challenge (<a href="https://www.youtube.com/embed/OkeIxUYAd4A" style="color: hsl(40, 85%, 85%);">video on YouTube</a>) 
                </p>
            </div>
            <div class="column has-text-centered is-5">
                <h1 class="is-size-3">We <i class="fa fa-heart"></i> tetrahedra</h1>
                <h3 class="subtitle">
                    Automatic mesh generation to simulate waves in highly complex geometries.
                </h3>
				<p>SeisSol offers example workflows based on the <a href="https://gmsh.info/" style="color: hsl(40, 85%, 85%);">Gmsh</a> and <a href="http://www.simmetrix.com/" style="color: hsl(40, 85%, 85%);">Simmetrix</a> mesh generation packages. 
				See the <a href="https://seissol.readthedocs.io/en/latest/simmodeler-cad-workflow.html" style="color: hsl(40, 85%, 85%);">SeisSol Tutorials</a> and <a href="https://seissol.readthedocs.io/en/latest/cookbook-overview.html" style="color: hsl(40, 85%, 85%);">Cookbook</a> for examples.</p>
            </div>
        </div>
    </div>
</section>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <h1 class="subtitle is-size-4">Need help?</h1>
                <p><a href="https://github.com/SeisSol/SeisSol/issues/new/choose">
                    Post an issue
                    <i class="fa fa-external-link"></i>
                </a></p>
                <p><a href="#">
                    Join our slack channel
                    <i class="fa fa-external-link"></i>
                </a></p>
            </div>
            <div class="column has-text-centered">
                <p class="block"><img src="/img/GitHub-Mark-64px.png"></p>
                <h1 class="subtitle is-size-4">SeisSol is open source</h1>
            </div>
            <div class="column has-text-centered">
                <h1 class="subtitle is-size-4">Want to contribute?</h1>
                <p><a href="https://github.com/SeisSol/SeisSol/blob/master/CONTRIBUTING.md">
                    Fork the code and submit pull requests
                    <i class="fa fa-external-link"></i>
                </a></p>
                <p><a href="https://github.com/SeisSol/SeisSol/tree/master/Documentation">
                    Help us improve the documentation
                    <i class="fa fa-external-link"></i>
                </a></p>
            </div>
        </div>
    </div>
</section>
{{ end }}
