{{ define "main" }}
<section class="hero is-medium">
    <div class="hero-body has-text-centered">
        <p class="title"><img src="/img/logo_color.svg"></p>
        <h3 class="subtitle">
            An open-source software for the simulation of seismic wave phenomena and earthquake dynamics
        </h3>
        <a href="https://seissol.readthedocs.io/">
            <button class="button is-link">Read the docs</button>
        </a>&nbsp;
        <a href="https://github.com/SeisSol/SeisSol">
            <button class="button is-link">Get the code</button>
        </a>
    </div>
</section>
<section class="hero is-medium is-warning">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column">
                <figure class="image is-16by9">
                    <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/zi19g5Jpp5s" frameborder="0" allowfullscreen></iframe>
                </figure>
            </div>
            <div class="column has-text-centered is-4">
                <h1 class="is-size-3">Rupture dynamics</h1>
                <h3 class="subtitle has-text-white">
                    SeisSol enables dynamic rupture modelling on realistic geometries
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column has-text-centered is-4">
                <h1 class="is-size-3">SeisSol is fast</h1>
                <h3 class="subtitle">
                    Proven scalability and high-performance on many HPC systems
                </h3>
            </div>
            <div class="column">
                <img src="/img/strong_scaling_flops.png">
                <p class="block">
                    Per-node performance on SuperMUC (M), Shaheen II (S), and Cori (C).
                </p>
            </div>
            <div class="column">
                <img src="/img/strong_scaling_time.png">
                <p class="block">
                    High parallel efficiency and fast time-to solution using local time-stepping (LTS).
                </p>
            </div>
        </div>
    </div>
</section>
<section class="hero is-dark">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column">
                <figure class="image is-4by3">
                    <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/OkeIxUYAd4A" frameborder="0" allowfullscreen></iframe>
                </figure>
            </div>
            <div class="column has-text-centered is-5">
                <h1 class="is-size-3">We <i class="fa fa-heart"></i> tets</h1>
                <h3 class="subtitle">
                    Use automatic mesh generation to simulate waves in ANYTHING
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <h1 class="subtitle is-size-4">Need help?</h1>
                <p><a href="https://github.com/SeisSol/SeisSol/issues/new/choose">
                    Post an issue
                    <i class="fa fa-external-link"></i>
                </a></p>
                <p><a href="#">
                    Join our slack channel
                    <i class="fa fa-external-link"></i>
                </a></p>
            </div>
            <div class="column has-text-centered">
                <p class="block"><img src="/img/GitHub-Mark-64px.png"></p>
                <h1 class="subtitle is-size-4">SeisSol is open-source</h1>
            </div>
            <div class="column has-text-centered">
                <h1 class="subtitle is-size-4">Want to contribute?</h1>
                <p><a href="https://github.com/SeisSol/SeisSol/blob/master/CONTRIBUTING.md">
                    Create fork and pull requests
                    <i class="fa fa-external-link"></i>
                </a></p>
                <p><a href="https://github.com/SeisSol/SeisSol/tree/master/Documentation">
                    Help us improve the docs
                    <i class="fa fa-external-link"></i>
                </a></p>
            </div>
        </div>
    </div>
</section>
{{ end }}
